[Desktop Entry]
Version=1.0
Type=Application
Name=Blitz Cleaner
Comment=A simple cleaner for your linux system
Exec=/usr/bin/blitz-cleaner
Icon=blitz
Terminal=false
Categories=Utility;
StartupWMClass=com.gtk.blitz-cleaner
