[Desktop Entry]
Version=1.0
Type=Application
Name=blitz
Comment=A simple cleaner for your linux system
Exec=/usr/bin/blitz
Icon=/usr/share/icons/hicolor/scalable/apps/blitz.svg
Terminal=false
Categories=Utility;
