* {
    font-family: sans-serif, system-ui;
}

window {
    border-bottom: 10px;
    border-radius: 10px;
    background-color: #141c2a;
    box-shadow: none;
}

headerbar {
    border: none;
    color: white;
    background: transparent;
}

headerbar image {
    /*background-color: red; */
    padding: 1px;
    color: white;
}

headerbar button:hover {
    background-color: #374151;
}

.side_bar {
    background-color: #1f2937;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.4px solid;
    border-right-color: #374151;
    min-height: 590px;
    padding-right: 10px;
    padding-left: 10px;
}

/*styles button cleaner*/
.button_action {
    background: none;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
}

.button_action:hover {
    background-color: #374151;
}

.logo {
    margin-top: 10px;
}
