window {
    border-bottom: 10px;
    border-radius: 10px;
    background-color: #141c2a;
    box-shadow: none;
}

headerbar {
    border: none;
    color: white;
    background: transparent;
}

button {
    border: none;
    color: white;
    background-color: slategray;
    padding: 1px;
}

.first_text {
    color: red;
}
